---
type Props = {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="group inline-flex items-center gap-1 text-black/70 dark:text-white/70 hover:text-black dark:hover:text-white transition-colors">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="size-5 stroke-2 fill-none stroke-current">
    <line x1="5" y1="12" x2="19" y2="12" class="origin-right translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
    <polyline points="12 5 5 12 12 19" class="translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
  </svg>
  <span><slot/></span>
</a>
